{{!
{
	"title": "Index",
	"name": "index",
  "resources": {
      "albums": {
          "url": "http://proxy.storyteller.io/facebook/Thekillers/albums",
          "headers": {
              "Api-Key": "a30fc90a-2d45-49a5-a0fa-5fa99977a2b0",
              "Project": "fe_test_sparkart"
          }
      }
  },
  "preprocessor": "albums.js"
}
}}
<ul id="albums">
  {{#resources.albums.data}}
    <li>
    <a href="/albums/{{id}}">
      <img src="https://graph.facebook.com/{{id}}/picture">
    </a>
    <span>{{name}}</span>
    <span>({{created_time}})</span>
    </li>
  {{/resources.albums.data}}
</ul>
