#list {
  list-style-type: none;
  text-align: center;
}

.header {
  text-align: center;
}

.thumb {
  position: relative;
  display: block;
  margin: auto;
}

.photo-info {
  left: 20px;
  bottom: 20px;
}

.item {
  padding-top: 20px;
  height: 300px;
  background-color: #efefef;
  width: 100%;
  float: left;
}

.photo {
  border-radius: 5px;
}

.photo-show {
  width: 100%;
}
