{{!
  {
    "title": "Album",
    "name": "Album",
    "resources": {
        "photos": {
            "url": "http://proxy.storyteller.io/facebook/{id}/photos",
            "headers": {
                "Api-Key": "a30fc90a-2d45-49a5-a0fa-5fa99977a2b0",
                "Project": "fe_test_sparkart"
            }
        }
    },
    "preprocessor": "photos.js"
  }
}}

<h1 class="header">
  Photos
</h1>
<ul id="list">
  {{#resources.photos.data}}
    <li class="item">
      <div class="thumb">
        <a href="/photos/{{id}}"><img src="{{picture}}"></a>
        <div class="photo-info">
          <p>{{created_time}}</p>
        </div>
      </div>
    </li>
  {{/resources.photos.data}}
</ul>

